#-*-Makefile-*- vim:syntax=make
#$Id: telos.target,v 1.1 2006/01/03 07:42:36 mturon Exp $

TELOS_REV ?= A

ifeq ($(TELOS_REV),A)
  TELOS_TARGET = telosa.target
else
  TELOS_TARGET = telosb.target
endif

$(call TOSMake_include,$(TELOS_TARGET))

