#-*-Makefile-*- vim:syntax=make
#$Id: telos_hc08.target,v 1.1 2006/01/03 07:42:37 mturon Exp $

PLATFORM = telos_hc08

$(call TOSMake_include_platform,hc08)

telos_hc08: $(BUILD_DEPS)
	@:

