#-*-Makefile-*- vim:syntax=make

#$Id: xsm.target,v 1.2 2006/02/03 23:51:29 mturon Exp $

PLATFORM = xsm
SENSORBOARD ?= msp410
PROGRAMMER_PART ?= -dpart=ATmega128 --wr_fuse_e=ff
PFLAGS += -finline-limit=100000 

ifdef TINYOS_NP
  ifeq ($(TINYOS_NP),BNP)
    PFLAGS += -I%T/lib/Deluge
    PFLAGS += -I%T/lib/Deluge/TOSBoot/include
    BOOTLOADER ?= $(TOSDIR)/lib/Deluge/TOSBoot/bl_mica2.srec
    AVR_FUSE_H ?= 0xd8
  endif
endif

AVR_FUSE_H ?= 0xd9

$(call TOSMake_include_platform,avr)

xsm: $(BUILD_DEPS)
    @:

